<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
    <h1>{{name}}'s First Angular Project</h1>
  
  <img width="300" alt="Wade and Lebron" src=""
</div>
<h3>Here are some links to help you start: </h3>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>
  
  <ul>
    <h3>{{pizzaList}}</h3>
    <li>
      <h3>{{pizzaList[0]}}</h3>
      </li>
    <li>
    <h3>{{pizzaList[1]}}</h3>
  </li>
    <li>
      <h3>{{pizzaList[2]}}</h3>
    </li>
    <li>
      <h3>{{pizzaList[3]}}</h3>
      </li>
</ul>

    <!-- <h3><a target="_blank" rel="noopener" href="youtube.com">Tour of Heroes</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h3> -->